*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#efe7d3;
    padding:10px;
}

.board{

    display:grid;

    grid-template-columns:repeat(10,1fr);

    gap:4px;

    max-width:1000px;

    margin:auto;

}

.card{

    background:#fff;

    border-radius:10px;

    overflow:hidden;

    border:2px solid #ddd;

    box-shadow:0 2px 5px rgba(0,0,0,.15);

}

.top{

    color:#fff;

    text-align:center;

    font-size:30px;

    font-weight:bold;

    padding:3px;

}

.red .top{background:#d60000;}
.orange .top{background:#ef6c00;}
.green .top{background:#2e7d32;}
.cyan .top{background:#00838f;}
.blue .top{background:#1565c0;}
.purple .top{background:#7b1fa2;}
.pink .top{background:#d81b60;}

.content{

    padding:5px;

    font-size:10px;

    line-height:1.5;

}

.content b{

    color:#222;

}

@media(max-width:900px){

.board{

grid-template-columns:repeat(5,1fr);

}

}

@media(max-width:600px){

.board{

grid-template-columns:repeat(3,1fr);

}

}
